@model LoanProcessingSystem.Models.LoanForm

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@Styles.Render("~/Content/Adminstyle.css")
@Html.Partial("Sidemenu")

<style>
    h2 {
        margin-left: 28%;
        margin-top: 8%;
        color: #ecb800;
        margin-bottom: 2%;
    }

    .dl-horizontal {
        align-content: center;
        text-align: left;
        margin-left: 18%;
    }

    dt {
        padding: 2px;
    }

    dd {
        padding: 2px;
    }
</style>



<div>
    <h2>LoanForm Details</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>

        </dt>

        <dd>
            <img src="~/Pics/@Html.DisplayFor(model => model.ImageUrl)" alt="Image" style="height:300px; width:300px;" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Salary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Salary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PropertyType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PropertyType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdminDetail.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdminDetail.Name)
        </dd>

    </dl>
</div>
<p style=" margin-left:30%;">
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.ApplicationId }) |*@
    <a href="@Url.Action("InspectorView", "Inspector")" class="btn btn-primary">Back to List</a>
</p>
