@model LoanProcessingSystem.Models.StatusTrack

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@Styles.Render("~/Content/Adminstyle.css")
@Html.Partial("Sidemenu")


<h2 style="color:#ec8b00;font-size:45px;margin-top:80px;text-align:Left;margin-left:30%;">Loan Form</h2>
<div class="roundcard" style=" height:auto; width:1200px;padding:40px; border-radius:10px;margin-bottom:20px; margin-top:20px;margin-left:18px; box-shadow: 0px 7px 40px #efefef;">


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal"  style="margin-left:30%;margin-right:25%;">
           
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.ApplicationId, "ApplicationId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ApplicationId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ApplicationId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.UserId, "UserId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("UserId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.UserId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AuthorityId, "AuthorityId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("AuthorityId", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.AuthorityId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Status, new List<SelectListItem>
                      {
                      new SelectListItem { Text ="Manger Approved" , Value="Manger Approved" },
                      new SelectListItem { Text ="Application in Inspection" , Value="Application in Inspection" },
                      new SelectListItem { Text ="Approved Request" , Value="Approved Request" },
                      new SelectListItem { Text ="Rejected Application" , Value="Rejected Application" }
                       }, "--select Status --", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-default" style="background-color:#ec8b00;color:#fff;" />
                </div>
            </div>
        </div>
    }
    </div>

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
