@model IEnumerable<LoanProcessingSystem.Models.StatusTrack>

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@Styles.Render("~/Content/Adminstyle.css")
@Html.Partial("Sidemenu")


<style>
    .table {
        margin-left: 18%;
        background: #ccc;
    }

    h1 {
        font-size: 28px;
        font-weight: 400;
        color: #ec8b00;
    }

    tr {
        background: #dadada;
    }

    th {
        width: 800px;
        color: #fff;
        background: #555555;
    }

    td {
        width: 800px;
    }

    tr:nth-child(odd) {
        background-color: #eee;
    }

    tr:nth-child(even) {
        background-color: #fff;
    }
</style>

<h1>Index</h1>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.Label("Manager Name")
        </th>
        <th>
            @Html.Label("Applicant Name")
        </th>
        <th>
            @Html.Label("User Name")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminDetail.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LoanForm.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserRegister.FullName)
            </td>
            <td>
               
                @Html.ActionLink("Details", "Details", new { id = item.StatusId }) 
            
            </td>
        </tr>
    }

</table>
