@model IEnumerable<LoanProcessingSystem.Models.LoanForm>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@Styles.Render("~/Content/Adminstyle.css")

@Html.Partial("Sidemenu")


<style>
    .table {
        margin-left: 18%;
        background: #ccc;
    }

    h1 {
        font-size: 28px;
        font-weight: 400;
        color: #ec8b00;
        margin-top: 6%;
        margin-left: 18%;
    }

    tr {
        background: #dadada;
    }

    th {
        width: 800px;
        color: #fff;
        background: #555555;
    }

    td {
        width: 800px;
    }

    tr:nth-child(odd) {
        background-color: #eee;
    }

    tr:nth-child(even) {
        background-color: #fff;
    }
</style>


<h1>After Inspection</h1>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PropertyType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DOB)
        </th>
        @*<th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>

    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PropertyType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DOB)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.ImageUrl)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>

        @*<td>
            <a href="@Url.Action("Create","StausTracks",new { id = item.ApplicationId })" class="btn btn-info">Approve</a>
        </td>*@
        <td>
            @using (Html.BeginForm("ManagerReject", "AfterInspection", new { ApplicationId = item.ApplicationId }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <input type="submit" value="Reject And Sent Mail" class="btn btn-danger" />

            }
        </td>
        <td>
            @using (Html.BeginForm("ManagerApprove", "AfterInspection", new { ApplicationId = item.ApplicationId }, FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <input type="submit" value="Approve And Sent Mail" class="btn btn-success" />

            }
        </td>
    </tr>
    }

</table>